ul.Red-Team{
    float: right;
}
ul.Blue-Team{
    float: left;
}

.alignright{
    float: right;
}

.alignleft{
    float: left;
}
li{
    text-align: center;
    width: 200px;
    height: 150px;
    padding: 5x;
}