<div class="sidebar light-colors">
<mat-icon routerLink="" class="sidebaricon light-colors"
    routerLinkActive="sidebaricon light-colors-active"
    [routerLinkActiveOptions]="{exact:true}">home</mat-icon><br/>
<mat-icon routerLink="current-event" 
    routerLinkActive="sidebaricon light-colors-active"
    [routerLinkActiveOptions]="{exact:true}"
    class="sidebaricon light-colors">event</mat-icon><br/>
<mat-icon routerLink="teams" 
    class="sidebaricon light-colors"
    routerLinkActive="sidebaricon light-colors-active"
    [routerLinkActiveOptions]="{exact:true}">group</mat-icon><br/>
</div>
