.sidebar {
    margin: 0px;
    padding: 8px;
    text-align: center;
    align-content: center;
    position: fixed;
    left: 0;
}
.sidebaricon {
    font-size: 32px;
    text-align: center;
    padding: 0px;
    margin: 0px;
}