<div class="page-header" *ngIf="home_team$">
  <h1 class="mat-h1">Team {{home_team$.team_number}} ({{home_team$.nickname}})
    <h3 class="mat-h3">From {{home_team$.city}}, {{home_team$.state_prov}}, {{home_team$.country}}</h3>
  </h1>
</div>
<div *ngIf="current_event$">
  <h2 class="mat-h2">Current Event: {{current_event$.name}}</h2>
</div>
This will display:
<ul>
  <li>Name of the home team and basic competition info</li>
  <li>Current Event and our stats in it</li>
  <li>Upcoming matches for the current event with teammates and opponents ranked</li>
  <li>Short list of the this year's past events</li>
</ul>
