<mat-card class="match-alliance-card">
    <mat-card-title>{{color}} Team
      <span *ngIf="alliance.score > -1">({{alliance.score}})</span>
      <mat-card-subtitle>
        <mat-chip-list>
          <mat-chip *ngIf="alliance.winner" color="primary" selected>Winner</mat-chip>
          <mat-chip *ngIf="alliance.rp > -1">RP: {{alliance.rp}}</mat-chip>
        </mat-chip-list>
      </mat-card-subtitle>
    </mat-card-title>
    <mat-card-content>
      <app-team-report-link
        [match_key]="match_key"
        [team_key]="alliance.team_keys[0]"
        [team_details]="alliance.team_details[alliance.team_keys[0]]">
      </app-team-report-link>
      <br/>
      <app-team-report-link
        [match_key]="match_key"
        [team_key]="alliance.team_keys[1]"
        [team_details]="alliance.team_details[alliance.team_keys[1]]">
      </app-team-report-link><br/>
      <app-team-report-link
        [match_key]="match_key"
        [team_key]="alliance.team_keys[2]"
        [team_details]="alliance.team_details[alliance.team_keys[2]]">
      </app-team-report-link>
    </mat-card-content>
  </mat-card>
