<h1 *ngIf="current_event$">Current Event "{{current_event$.name}}"</h1>

<h2>Qualifying Matches</h2>

<ul>
    <li *ngFor="let match of getQualifyingMatches()">
      <ul *ngIf="match.comp_level == 'qm'">
        <li routerLink="/report/event/{{current_event$.key}}/match/{{match.match_number}}"><strong>Match: {{match.match_number}}</strong></li>
          <app-alliance-card 
            [alliance]="match.alliances.blue"
            [color]="'Blue'"
            [match_key]="match.key"></app-alliance-card>
          <app-alliance-card 
            [alliance]="match.alliances.red"
            [color]="'Red'" 
            [match_key]="match.key"></app-alliance-card>
      </ul>
    </li>
</ul>
